{% include "accounts/header.html" %}

<div class="container d-flex justify-content-center align-items-center">
  <div class="col-md-4">
    <div class="card p-4 text-center">
      <h4>Verify OTP</h4>
       {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endif %}

      <form method="POST">
        {% csrf_token %}
        <input type="text" name="otp" class="form-control mb-3 text-center" placeholder="Enter OTP" required>
        <button class="btn btn-success w-100">Verify</button>
      </form>
    </div>
  </div>
</div>

</body>
</html>
