{% include "accounts/header.html" %}

<div class="container d-flex justify-content-center align-items-center">
  <div class="col-md-4">
    <div class="card p-4">
      <h4 class="text-center">Set New Password</h4>

      <form method="POST">
        {% csrf_token %}
        <input type="password" name="password" class="form-control mb-3" placeholder="New Password" required>
        <input type="password" name="confirm" class="form-control mb-3" placeholder="Confirm Password" required>
        <button class="btn btn-danger w-100">Update Password</button>
      </form>
    </div>
  </div>
</div>

</body>
</html>
